# Payment Service Configuration
PORT=5013
MONGO_URL=mongodb://localhost:27017/ecommerce_payment
SECRET_TOKEN=ecommerce_jwt_secret_dev_key
ORDER_SERVICE_URL=http://localhost:5012
CART_SERVICE_URL=http://localhost:5010
RABBITMQ_URL=amqp://guest:guest@localhost:5672
EXCHANGE_NAME=ecommerce_events
